* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./bg.jpg');
}

.header {
  height: 100vh;
  background-size: cover;
  background-position: top;

  position: relative;
}

.main-head {
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.btn-form-submit {
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: rgb(255, 214, 80);
}
